*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* header{
    height: 100vh;
    background: url(IMG-20240405-WA0064.jpg);
    background-size: 100% 100%;
} */
body{
    background-color: rgb(192, 239, 223);
}
h2{
    font-size: 30px;
    text-transform: uppercase;
   text-align: center;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
p{
    font-size: 38px;
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}
aside{
    background-color: rgba(94, 225, 12, 0.67);
    width: 25%;
    height: 100vh;
    z-index: 99;
    position:fixed;
   transform: translate(-95%,0%);
   transition: 1s;
   text-align: center;
   padding-top: 30px;
}
aside:hover{
transform: translate(0% , 0%);
}
aside ul li:hover{
    background-color: rgb(46, 43, 43);
}
aside ul li a:hover{
    color: brown;
}
aside ul li{
   padding: 20px 0px !important;
}
aside ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white ;
}
.side1{
    height: 100vh;
    background: url(second\ image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.side1 p{
    text-align: center;
    color: grey;
}
.side1 h1{
    text-align: center;
    font-size: 70px;
    padding-top: 17%;
}
.bod{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    margin: 5% 10%;

    
}
img{
    width: 40%;
    height: 500px;
    padding: 30px 30px;
    border-radius: 50%;
}
#im{
    animation-name: fadeIn; 
    animation-duration:2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: calc(1);
}
@keyframes fadeIn {
    0%{
        opacity: 0;
        transform: translateY(30px);
    }
    50%{
        opacity: 0.5;
        transform: translatey(0)
    }
    100%{
        opacity: 1;
        transform: translateY(-30px);
    }
}
@media screen and (max-width:500px){
    .bod {
   display: flex ;
   flex-direction: column;
    }
    .bod p{
font-size: 20px;
    }
    img{
        width: 100%;
        height: auto;
    }
    aside{
    width: 200px;
    }
}